<!DOCTYPE html>
<html lang="en">
<!--Display de todos los productos: allProducts.ejs -->

    <%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>
    <%- include('../partials/headerMobile') %>
    <!--Termina header y comienza main de la web -->
    <main >
        <section class="mainProductIndex">
       
        
        <!-- <section class="productIndBarraLat">
            <ul>
                <li class="latEnvioProducto">Envío gratis<i class="fas fa-toggle-on"></i></li>
                <li class="latCuotasProducto">Cuotas sin interés<i class="fas fa-toggle-on"></i></li>
                <li class="latDisponibleProducto">Disponible en local<i class="fas fa-toggle-on"></i></li>
            </ul>

        </section> -->
        <h2 class="titleAllProducts">Funcional, Pilates y Yoga</h2>
        <section class="productIndArticulos allproductConteinerCard">
            <% productInfo.filter(function(item){ %>
                <% if (item.prodCategoria == "#funcPilYog") { %>
                    <article class="tarjetaProducto">
                        <a href="../productDetail/<%= item.prodID %>"><div class="imagenProducto"><img src=<%= item.prodImg %>></div></a>
                        <ul>
                            <li class="precioProducto">$ <%= item.prodPrecio %></li>
                            <li class="cuotasProducto">Cuotas sin interés: <%= item.prodCantidadCuotas %></li>
                            <a href="./productDetail/<%= item.prodID %>"><li class="nombreProducto"><%= item.prodNombre %></li></a>
                            <li class="envioProducto">Envío gratis: <%= item.envioGratis %></li>
                        </ul>
                        <a href="/modifyProduct/<%= item.prodID  %>">Editar</a>
                        <form action="/modifyProduct/delete/<%= item.prodID  %>?_method=DELETE" method="POST" style="display: inline-flex">
							<button type="submit">ELIMINAR</button>
                        </form>
                    </article>
                <% } %>
              <% }); %>
        </section>

        <h2 class="titleAllProducts">Pesas, Discos y Barras</h2>
        <section class="productIndArticulos allproductConteinerCard">
            <% productInfo.forEach(function(item){ %>
                <% if (item.prodCategoria == "#PesDisBar") { %>
                    <article class="tarjetaProducto">
                        <a href="../productDetail/<%= item.prodID %>"><div class="imagenProducto"><img src=<%= item.prodImg %>></div></a>
                        <ul>
                            <li class="precioProducto">$ <%= item.prodPrecio %></li>
                            <li class="cuotasProducto">Cuotas sin interés: <%= item.prodCantidadCuotas %></li>
                            <a href="./productDetail/<%= item.prodID %>"><li class="nombreProducto"><%= item.prodNombre %></li></a>
                            <li class="envioProducto">Envío gratis: <%= item.envioGratis %></li>
                        </ul>
                        <a href="/modifyProduct/<%= item.prodID %>">Editar</a>
                        <form action="../modifyProduct/delete/<%= item.prodID  %>?_method=DELETE" method="POST" style="display: inline-flex">
							<button type="submit">ELIMINAR</button>
                        </form>
                    </article>
                <% } %>
              <% }); %>
        </section>

        <h2 class="titleAllProducts">Máquinas</h2>
        <section class="productIndArticulos allproductConteinerCard">
            <% productInfo.forEach(function(item){ %>
                <% if (item.prodCategoria == "#Maq") { %>
                    <article class="tarjetaProducto">
                        <a href="../productDetail/<%= item.prodID %>"><div class="imagenProducto"><img src=<%= item.prodImg %>></div></a>
                        <ul>
                            <li class="precioProducto">$ <%= item.prodPrecio %></li>
                            <li class="cuotasProducto">Cuotas sin interés: <%= item.prodCantidadCuotas %></li>
                            <a href="./productDetail/<%= item.prodID %>"><li class="nombreProducto"><%= item.prodNombre %></li></a>
                            <li class="envioProducto">Envío gratis: <%= item.envioGratis %></li>
                        </ul>
                        <a href="/modifyProduct/<%= item.prodID %>">Editar</a>
                        <form action="../modifyProduct/delete/<%= item.prodID %>?_method=DELETE" method="POST" style="display: inline-flex">
							<button type="submit">ELIMINAR</button>
                        </form>
                    </article>
                <% } %>
              <% }); %>
        </section>

        <h2 class="titleAllProducts">Indumentaria</h2>
        <section class="productIndArticulos allproductConteinerCard">
            <% productInfo.forEach(function(item){ %>
                <% if (item.prodCategoria == "#Ind") { %>
                    <article class="tarjetaProducto">
                        <a href="../productDetail/<%= item.prodID%>"><div class="imagenProducto"><img src=<%= item.prodImg %>></div></a>
                        <ul>
                            <li class="precioProducto">$ <%= item.prodPrecio %></li>
                            <li class="cuotasProducto">Cuotas sin interés: <%= item.prodCantidadCuotas %></li>
                            <a href="./productDetail/<%= item.prodID %>"><li class="nombreProducto"><%= item.prodNombre %></li></a>
                            <li class="envioProducto">Envío gratis: <%= item.envioGratis %></li>
                        </ul>
                        <a href="/modifyProduct/<%= item.prodID  %>">Editar</a>
                        <form action="/modifyProduct/delete/<%= item.prodID  %>?_method=DELETE" method="POST" style="display: inline-flex">
							<button type="submit">ELIMINAR</button>
                        </form>
                    </article>
                <% } %>
              <% }); %>
        </section>
    </section>
    </main>
    <%- include('../partials/footer') %>
    <script src="/js/home.js"> </script>
    <!-- <script src="/js/homeFadeIn.js"> </script> -->
    <!-- <script src="/js/header.js"> </script> -->
    <script src="/js/menuHamburguesa.js"> </script>
</body>

</html>