<!--Display de productos destacados: listaDestacados.ejs -->
<!DOCTYPE html>
<html lang="en">

<!-- CONFIG -->
<%- include('../partials/head') %>

    <body>
        <!-- HEADER -->
        <%- include('../partials/headerNoTransp') %>
            <%- include('../partials/headerMobile') %>

                <!-- INICIO MAIN: -->
                <main class="mainProductIndex">
                
                <!-- IMAGEN DE FONDO: -->
                <div class="headerBack">
                    <img>
                </div>

            <!-- <section class="productIndBarraLat">
            <ul>
                <li class="latEnvioProducto">Envío gratis<i class="fas fa-toggle-on"></i></li>
                <li class="latCuotasProducto">Cuotas sin interés<i class="fas fa-toggle-on"></i></li>
                <li class="latDisponibleProducto">Destacados<i class="fas fa-toggle-on"></i></li>
            </ul>
            </section> -->

                    <!-- TARJETAS DE PRODUCTOS: -->
                    <section class="productIndArticulos allproductConteinerCard">
                        <% productInfo.forEach(function(product){ %>
                            <%- include('../partials/productCard', {item:product}) %>
                                <% }); %>
                    </section>

                </main>

                <!-- FOOTER -->
                <%- include('../partials/footer') %>

                <!-- SCRIPTS -->
                <script src="/js/menuHamburguesa.js"> </script>

    </body>

</html>