<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>
    <!--Termina header y comienza main de la web -->
    <main class="mainProductIndex">
        <%- include('../partials/menuLateral') %>
        
        <section class="productIndBarraLat">
            <ul>
                <li class="latEnvioProducto">Envío gratis<i class="fas fa-toggle-on"></i></li>
                <li class="latCuotasProducto">Cuotas sin interés<i class="fas fa-toggle-on"></i></li>
                <li class="latDisponibleProducto">Destacados<i class="fas fa-toggle-on"></i></li>
            </ul>

        </section>
        <section class="productIndArticulos">
            <% productInfo.forEach(function(product){ %>
                <%- include('../partials/productCard', {item:product}) %>
              <% }); %>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>

</html>