<!DOCTYPE html>
<html lang="en">
  <!-- Header importado -->
  <%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>
    <%- include('../partials/headerMobile') %>

    <!--Main -->
    <main >
     <section class="webAdmin"> 
     
      
      <section class="adminHeader">
        <article>
          <img
            src="./images/pexels-life-of-pix-8264.jpg"
            class="newProductHeaderImage"
          />

          
          <ul>
            <li>Sistema de gestión de productos</li>
            <li>Carga de nuevos productos</li>
          </ul>
        </article>
      </section>
      <!--ERRORES de validación (viene de public/js/validacionForm.js) -->
      <div class="errores" style="text-align: center;">
       <ul id="ulErrores"> </ul>
     </div>
      <section class="formNewProduct">
        <form action="/newProduct" method="POST" enctype="multipart/form-data" class="validationProduct">
          <label for="prodNombre">Nombre de producto</label>
          <input
            type="text"
            name="prodNombre"
            id="prodNombre"
            placeholder="Cinta de correr CYNT 234rpm"
            value="<%= locals.old && old.prodNombre ? old.prodNombre : ''%>"
          />
          <% if (locals.errors && errors.prodNombre) { %>
            <div class="msg-errors"><%= errors.prodNombre.msg %></div>
            <% } %>

          <label for="prodDescripcion">Descripción</label>
          <textarea name="prodDescrip" id="prodDescripcion" placeholder="Escribir descripción del producto..."  value="<%= locals.old && old.prodDescrip ? old.prodDescrip : ''%>" ></textarea
          >
   <% if (locals.errors && errors.prodDescrip) { %>
          <div class="msg-errors"><%= errors.prodDescrip.msg %></div>
          <% } %>

          <label for="prodDescrip1">Descripción-A</label>
          <textarea name="prodDescrip1" id="prodDescrip1" placeholder="Escribir descripción del producto..." value="<%= locals.old && old.prodDescrip1 ? old.prodDescrip1 : ''%>"></textarea
          >

          <label for="prodDescrip2">Descripción-B</label>
          <textarea name="prodDescrip2" id="prodDescrip2" placeholder="Escribir descripción del producto..." value="<%= locals.old && old.prodDescrip2 ? old.prodDescrip2 : ''%>"></textarea
          >

          <label for="prodDescrip3">Descripción-C</label>
          <textarea name="prodDescrip3" id="prodDescrip3" placeholder="Escribir descripción del producto..." value="<%= locals.old && old.prodDescrip3 ? old.prodDescrip3 : ''%>"></textarea
          >

          <label for="prodDescrip4">Descripción-D</label>
          <textarea name="prodDescrip4" id="prodDescrip4" placeholder="Escribir descripción del producto..." value="<%= locals.old && old.prodDescrip4 ? old.prodDescrip4 : ''%>"></textarea
          >

          <label for="prodImg">Cargar fotos producto:</label>
          <input type="file" name="prodImg" id='prodImg' />

          <label for="prodCategoria">Categoría:</label>
          <select name="prodCategoria">
            <option value="#funcPilYog">Funcional, pilates y yoga</option>
            <option value="#PesDisBar">Pesas, discos y barras</option>
            <option value="#Maq">Máquinas</option>
            <option value="#Ind">Indumentaria</option>
          </select>

          <label>Precio</label>
          <input type="number" name="prodPrecio" placeholder="$20.000" value="<%= locals.old && old.prodPrecio ? old.prodPrecio : ''%>" />

          <label>Descuento</label>
          <input type="number" name="prodDesc" placeholder="%25" value="<%= locals.old && old.prodDesc ? old.prodDesc : ''%>" />

          <label>Precio en Cuotas</label>
          <input type="number" name="prodPrecioCuotas" placeholder="$20.000" />

          <label>Cuotas sin interés</label>
          <input
            type="number"
            name="prodCantidadCuotas"
            placeholder="1"
            min="0"
            max="12"
            value="<%= locals.old && old.prodCantidadCuotas ? old.prodCantidadCuotas : ''%>"
          />

          <label>Cantidad</label>
          <input type="number" name="prodCantidad" placeholder="1" min="0" value="<%= locals.old && old.prodCantidad ? old.prodCantidad : ''%>" />

          <div class="newProdEnvioCheckbox">
            <label>Envío gratis</label>
            <input type="checkbox" name="envioGratis" value="1" />
          </div>

          <button type="reset">Resetear formulario</button>
          <button type="guardar">Guardar producto</button>
        </form>
      </section>
      <a href="/newProduct/allProducts"><button class="buttonAllProducts">Todos los productos </button></a>
    </section>
    </main>
    <!-- Footer importado -->
    <%- include('../partials/footer') %>
    <script src="/js/validacionProduct.js"> </script>
    <script src="/js/menuHamburguesa.js"> </script>
  </body>
</html>
