<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>
    <!--Termina header y comienza main de la web -->
    <main class="mainProductIndex">
        <%- include('../partials/menuLateral') %>
        
        <section class="productIndArticulos">
            <% productInfo.forEach(function(product){ %>
                <%- include('../partials/productCard', {item:product}) %>
              <% }); %>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>

</html>