<!--Display de productos todos: productIndex.ejs -->
<!DOCTYPE html>
<html lang="en">

    <!-- IMPORT config -->
    <%- include('../partials/head') %>

<body>

  <!-- IMPORT headers -->
    <%- include('../partials/headerNoTransp') %>
    <%- include('../partials/headerMobile') %>

    <!-- MAIN: -->
    <main class="mainProductIndex">

   <!-- HOME CONTENEDOR 1 -->
   <section class="indexCont1">
    <!--Título-->
    <div class="indexCont1Texto">
      Productos
    </div>
    <div class="indexCont1SubTexto">
      Desplázate para encontrar cientos de productos
    </div>
    <!--Imagen-->
      <img src="..\images\pexels-mikhail-nilov-6740821.jpg" class="indexCont1Imagen"/>

  </section>

        <section class="productIndArticulos">
            <% productInfo.forEach(function(product){ %>
                <%- include('../partials/productCard', {item:product}) %>
              <% }); %>
        </section>
    </main>


    <%- include('../partials/footer') %>

    <!-- <script src="/js/header.js"> </script> -->
    <!-- <script src="/js/menuHamburguesa.js"> </script> -->
</body>

</html>