<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>

            <!--Aca termina header y comienza main de la web -->
            <main>
                <!---->
                <h1 class="tituloProducDetail">
                    <%= product.prodNombre %>
                </h1>

                <header class="productDetailMobile">
                    <article class="imagenProd">
                        <img src=<%=product.prodFotos %> alt="no hay imagen disponible">
                    </article>
                    <section class="produCarat">
                        <article class="mediosProduc">
                            <p class="precioPrductMobile">
                                <%= product.prodPrecio %>
                            </p>
                            <p class="cuotasProductMobile">en <%= product.prodCantidadCuotas %>x <%=
                                        product.prodPrecioCuotas %>
                            </p>
                            <p class="parrDestacado">ver medios de pagos</p>
                        </article>
                        <article class="stockProduc">
                            <h3>Stock disponible</h3>
                            <form action="/cantidad" method="GET">
                                <label>Cantidad:</label>
                                <select name="cantidad">
                                    <% for(let i=1; i <=product.prodCantidad; i++){ %>
                                        <option value="<%= i %>">
                                            <%= i %> unidad
                                        </option>

                                        <% } %>
                                </select>
                            </form>
                        </article>
                        <article class="finalizarProd">
                            <a href="#">
                                <h5 class="comprar">Comprar</h5>
                            </a>
                            <a href="#">
                                <h5 class="add">Agregar al carrito</h5>
                            </a>
                            <a href="#">
                                <h5 class="rebaja">Cupón de descuento </h5>
                            </a>
                        </article>
                        <article class="servicioDetai">
                            <i class="fas fa-truck"></i>
                            <p>Formas de envio</p>
                        </article>
                        <article class="servicioDetai">
                            <i class="fas fa-exchange-alt"></i>
                            <p>Garantia</p>
                        </article>
                    </section>
                    <!---->
                    <section class="descripProd">
                        <!---->
                        <article class="subTituloProd">
                            <h4>Sobre este producto</h4>
                        </article>
                        <section class="caracDestokDetail">
                            <p>
                                <%= product.prodDescripcion %>
                            </p>
                        </section>

                        <article class="subTituloProd">
                            <h4>Características de Panther Pro BF102</h4>
                        </article>
                        <article class="okProduc">
                            <i class="far fa-check-circle"></i>
                            <p>
                                <%= product.prodDescrip1 %>
                            </p>
                        </article>
                        <article class="okProduc">
                            <i class="far fa-check-circle"></i>
                            <p>
                                <%= product.prodDescrip2 %>
                            </p>
                        </article>
                        <article class="okProduc">
                            <i class="far fa-check-circle"></i>
                            <p>
                                <%= product.prodDescrip3 %></b>
                            </p>
                        </article>
                        <article class="okProduc">
                            <i class="far fa-check-circle"></i>
                            <p>
                                <%= product.prodDescrip4 %>
                            </p>
                        </article>
                    </section>
                </header>

                <!--DESDE ACA COMIENZA LA VERSION DESKTOP-->
                <section class="contenedorCentralProductDesk">
                    <header class="deskProduct">
                        <section class="perfilProductDesk">
                            <article class="imgDetailDesk">
                                <img src=<%=product.prodFotos %> alt="no se encontro la imagen">
                            </article>

                            <article class="subTituloProdDesk">
                                <h4>Características de <%= product.prodNombre %>
                                </h4>
                            </article>
                            <header class="caracDesk">
                                <section class="caracDesk1">
                                    <article class="okProducDesk">
                                        <i class="far fa-check-circle"></i>
                                        <p>
                                            <%= product.prodDescrip1 %>
                                        </p>
                                    </article>
                                    <article class="okProducDesk">
                                        <i class="far fa-check-circle"></i>
                                        <p>
                                            <%= product.prodDescrip2 %>
                                        </p>
                                    </article>
                                </section>
                                <section class="caracDesk2">
                                    <article class="okProducDesk">
                                        <i class="far fa-check-circle"></i>
                                        <p>
                                            <%= product.prodDescrip3 %>
                                        </p>
                                    </article>
                                    <article class="okProducDesk">
                                        <i class="far fa-check-circle"></i>
                                        <p>
                                            <%= product.prodDescrip4 %>
                                        </p>
                                    </article>
                                </section>
                            </header>
                            <section class="caracDestokDetail">
                                <p>
                                    <%= product.prodDescripcion %>
                                </p>
                            </section>



                            <article class="otrosProductDetailDesk">
                                <a href="#"> <h3><i class="fas fa-backward"></i> Continuar comprando</h3> </a>
                            </article>

                <!--VER DESKTOP: Detalles de pago-->
                        </section>
                        <section class="tituloProducDesk">
                            <article>
                                <div class="tituloProducType">
                                    TIPO DE PRODUCTO
                                </div>
                                <h1>
                                    <%= product.prodNombre %>
                                </h1>
                            </article>
                            <article class="mediosDtailDesk">
                                <p class="contado">
                                    <%= product.prodPrecio %>
                                </p>
                                <p class="deskProdCuotas">en 12x <%= product.prodPrecioCuotas %>
                                </p>
                                <a href="#">
                                <p class="parrDestacado"> <i class="fas fa-credit-card parrDestacado"></i> ver medios de pago</p>
                            </a>
                            </article>
                            <article class="stockDetailDesk">
                                <form action="/cantidad" method="GET">
                                    <label>Cantidad:</label>
                                    <select name="cantidad">
                                        <% for(let i=1; i <=product.prodCantidad; i++){ %>
                                            <option value="<%= i %>">
                                                <%= i %> unidad
                                            </option>
                                            <% } %>
                                    </select>
                                    <div class="stockDetailDeskText">*Cantidad según stock disponible en el local </div>
                                </form>
                            </article>
                            <article class="finalizarProdDesk">
                                <a href="#">
                                    <h5 class="comprarDesk">Comprar</h5>
                                </a>
                                <p class="addDesk"><i class="fas fa-cart-plus parrDestacado"></i> Agregar al carrito</p>
                                <p class="rebajaDesk"><i class="fas fa-percent parrDestacado"  ></i> Cupón de descuento </p>
                            </article>

                            <article class="servicioDetaiDesk">
                                <p><i class="fas fa-truck"></i>  Formas de envio</p>
                                <p>Envios a todo el país</p>
                            </article>
                            <article class="servicioDetaiDesk">
                                <p><i class="fas fa-exchange-alt"></i>  Garantia </p>
                                <p>Garantía de fábrica: 12 meses</p>
                            </article>
                            <article class="imgTarjetasDesk">
                                <img src="/img/todasLasTarjetas.jpg" alt="no se encontro la imagen">
                            </article>

                        </section>
                    </header>

                </section>



            </main>
            <%- include('../partials/footer') %>
    </body>

</html>