<!-- Cada tarjeta de productos a iterar: -->
<article class="tarjetaProducto">

    <!-- Imagen con hipervínculo del producto para clickear sobre la imacen: -->
    <div class="imagenTarjeta">
        <!-- Hipervínculo -->
        <a href="../productDetail/<%= item.prodID %>"> 
            <!-- Imagen -->
            <div class="imagenProducto"><img src='<%= item.prodImg %>'></div>
        </a>
    </div>

    <ul>
        <!-- Hipervínculo -->
        <a href="../productDetail/<%= item.prodID %>">
            <!-- Nombre del producto -->
            <li class="nombreProducto"> <%= item.prodNombre %>
            <!-- Precio: -->
            <li class="precioProducto">$ <%= item.prodPrecio %> </li>
            </li>
        </a>
    </ul>
    
    <a href="../productDetail/<%= item.prodID %>">
    <div class="overlayTarjetaProducto">
       
        <!-- Cuotas: -->
        <% if (item.prodCantidadCuotas != 0) { %>
        <div class="cuotasProducto">💳 <%= item.prodCantidadCuotas %> cuota/s sin interés
        </div>
        <% } %> 
       
        <!-- Envío: -->
        <% if (item.envioGratis == 1) { %>
        <div class="envioProducto">
            <!-- <img src="../images/fast-delivery(1).png" >  -->
            🚚 Envío gratis
        </div>
        <% } %> 

    </div>
    </a>


    
</article>

