<article class="tarjetaProducto">
    <div class="imagenProducto"><img src=<%= item.prodFotos %>></div>
    <ul>
        <li class="precioProducto"><%= item.prodPrecio %></li>
        <li class="cuotasProducto">Cuotas sin interés: <%= item.prodCantidadCuotas %></li>
        <li class="nombreProducto"><%= item.prodNombre %></li>
        <li class="envioProducto">Envío gratis: <%= item.envioGratis %></li>
    </ul>
</article>

