<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>
    <%- include('../partials/headerMobile') %>

    <main>
      <section class="mainPorfile">
      
      <h1 class="bienvenido">Bienvenido <%= user.username%></h1>
      <section class="imgProfile">
        <img
          src="/imgRegister/<%= user.image %>"
          alt="No se encontro la imagen"
        />
      </section>
      <section class="datosProfile">
        <h3>Nombre: <%= user.firstName %></h3>
        <h3>Apellido: <%= user.lastName %></h3>
        <h3>Email: <%= user.email %></h3>
      </section>
      <section class="editarProfile">
        <p>Editar datos</p>
        <br/>
        <form action="/login/profile/<%= user.userID %>?_method=PUT" method="POST" enctype="multipart/form-data">

           <input name="firstName" value=<%= user.firstName %> />
           <br/>
           <input name="lastName" value= <%= user.lastName %> />
           <br/>
           <input name="email" value= <%= user.email %> />
           <br/>
           <input name="username" value= <%= user.username %> />
           <br/>
           <input type="file" name="image" class="inputFile"/>
           <br/>
           <input type="submit" name="enviar" id="" value="Guardar" />
           <br/>
           
        </form>
      </section>

      <section class="cerrarSession">
        <a href="../login/logout">Cerrar Session</a>
      </section>
    </section>
    </main>

    <%- include('../partials/footer') %>
    <!-- <script src="/js/menuHamburguesa.js"> </script> -->
  </body>
</html>
